<div class="container">
    <h2 class="text-center">
        Users
    </h2>
    <table class="table">
        <tr>
            <th class="text-center">Email</th>
            <th class="text-center">Role</th>
            <th class="text-center">Change Activation State</th>
        </tr>
        <tr ng-repeat="user in vm.users">
            <td class="text-center"><a href="#/user/details/{{user.userId}}">{{user.email}}</a></td>
            <td class="text-center">{{user.role}}</td>
            <td class="text-center">
                <button ng-click="vm.changeActiveState(user)" class="btn btn-sm {{user.isActive ? 'btn-danger' : 'btn-success'}}">
                    {{user.isActive ? 'Deactivate' : 'Activate'}}
                </button>
            </td>
        </tr>
    </table>
</div>